/* reset css */
@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');




/* 첫 시작 화면 */
body{
    /* background-image: url(https://img.youtube.com/vi/jOt2iU4ZdeE/maxresdefault.jpg?width=&format=webply&dpr=2&disable=upscale&quality=80);
    background-repeat: no-repeat;
    background-size: cover; */
    background: rgb(57, 57, 57);
}
.wrapper .startPage {
    background: white;
    width: 703px;
    height: 800px;
    box-sizing: border-box;
    margin: 60px auto;
    text-align: center;
    border: 1px solid black;
    background-image: url(./img/titlell.jpeg);
    background-size: cover;
    position: relative;
    overflow: hidden;

    /* animation: up 1s; */

    /* display: none; */
    /* display-none 했음*********************** */

}

.wrapper .startPage .title {
    line-height: 3;
    color: green;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 6px 2px 2px gray;
    animation: up 1s;
}

.wrapper .startPage #startBtn {
    background: skyblue;
    padding: 20px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    border: 1px solid skyblue;
    box-shadow: 6px 4px 6px rgb(36, 102, 128);
    animation: up 1s;
    margin-top: 250px;
    width: 200px;
}

.wrapper .startPage #startBtn:hover {
    background: rgb(109, 140, 153);
    cursor: pointer;
}

.wrapper .startPage .intro {
    background: skyblue;
    padding: 20px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    border: 1px solid skyblue;
    box-shadow: 6px 4px 6px rgb(36, 102, 128);
    animation: up 1s;
    margin-top: 100px;
    margin-left: 20px;
    width: 200px;
}

.wrapper .startPage .intro:hover {
    background: rgb(109, 140, 153);
    cursor: pointer;
}

@keyframes updown {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: 10px;
    }

}
/* 첫 시작화면 end */

/* 게임 설명창 */
.wrapper .startPage .introText {
    background: skyblue;
    width: 400px;
    height: 400px;
    color: black;
    position: absolute;
    top: 75px;
    left: 250px;
    opacity: 0.8;
    text-align: justify;
    font-size: 20px;
    line-height: 250%;
    display: none;
    padding: 5px;
    border-radius: 26px;
    font-weight: bold;
}


.wrapper .startPage .introText .yellow {
    color: black;
    background: yellow;
    font-weight: bold;
}

.wrapper .startPage .introText .green {
    color: black;
    background: green;
    font-weight: bold;
}

.wrapper .startPage .introText .gray {
    color: black;
    background: gray;
    font-weight: bold;
}


/* -------------------------------------- */
/* 두번쨰 화면, 선택 모드 */
.wrapper .select {
    background: white;
    width: 703px;
    height: 800px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    display: none;
    /* animation: up 1s; */
    border: 1px solid black;
    background-image: url(./img/1.JPG);
    background-size: cover;
    margin: 60px auto;
    position: relative;
    overflow: hidden;
 
}
.wrapper .startPage #ka {
    background-image: url(./img/top\ door.jpg); 
    background-repeat: no-repeat;    
    display: none;
    width: 703px;
    height: 500px;
    position: absolute;
    top: -100px;
    left: 0;
    border-radius: 1px solid black;
    box-sizing: border-box;;
    z-index: 10;
    /* background: red; */
    
}
.wrapper .startPage #kb {
    background-image: url(./img/bottom\ door.jpg);
    background-repeat: no-repeat;    
    display: none;
    width: 703px;
    height: 500px;
    position: absolute;
    top: 400px;
    left: 0;
    border-radius: 1px solid black;
    box-sizing: border-box;;
    z-index: 9;
    /* background: blue; */
}
.wrapper .select #kc {
    background-image: url(./img/top\ door.jpg); 
    background-repeat: no-repeat;  
    
    display: none;
    width: 703px;
    height: 500px;
    position: absolute;
    top: -100px;
    left: 0;
    border-radius: 1px solid black;
    box-sizing: border-box;;
    z-index: 10;
    /* background: red; */
    
}
.wrapper .select #kd {
    background-image: url(./img/bottom\ door.jpg);
    background-repeat: no-repeat; 
    
    display: none;
    width: 703px;
    height: 500px;
    position: absolute;
    top: 400px;
    left: 0;
    border-radius: 1px solid black;
    box-sizing: border-box;;
    z-index: 9;
    /* background: blue; */
}


.wrapper .select #k1 {

    background-image: url(./img/top\ door.jpg);  
    background-repeat: no-repeat;   
    display: none;
    width: 703px;
    height: 500px;
    position: absolute;
    top: -100px;
    left: 0;
    border-radius: 1px solid black;
    box-sizing: border-box;;
    z-index: 10;
    /* background: red; */
    
}
.wrapper .select #k2 {
    background-image: url(./img/bottom\ door.jpg);
    background-repeat: no-repeat; 
    display: none;
    width: 703px;
    height: 500px;
    position: absolute;
    top: 400px;
    left: 0;
    border-radius: 1px solid black;
    box-sizing: border-box;;
    z-index: 9;
    /* background: blue; */
}

.wrapper .final #k3 { 
    background-image: url(./img/top\ door.jpg); 
    background-repeat: no-repeat;  

    width: 703px;
    height: 500px;
    position: absolute;
    top: -100px;
    left: 0;
    border-radius: 1px solid black;
    box-sizing: border-box;;
    z-index: 10;
    /* background: red; */
}
.wrapper .final #k4 {
    background-image: url(./img/bottom\ door.jpg);
    background-repeat: no-repeat; 
    
    width: 703px;
    height: 500px;
    position: absolute;
    top: 400px;
    left: 0;
    border-radius: 1px solid black;
    box-sizing: border-box;;
    z-index: 9;
    /* background: blue; */
    
} 

.wrapper .select .title2 {
    line-height: 2;
    color: green;
    margin-top: 50px;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 6px 2px 2px gray;
    /* animation: up 1s; */

}

@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }

    /* 50% {
        opacity: 0.5;
        transform: translateY(-20%);
    } */

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.wrapper .select button {
    background: skyblue;
    margin: 350px 20px;
    font-size: 25px;
    padding: 10px 15px;
    /* border-radius: 50px; */
    border: 1px solid skyblue;
    box-shadow: 6px 4px 6px rgb(36, 102, 128);
    animation: up 1s;
    width: 180px;


}

.wrapper .select button:hover {
    background: rgb(163, 206, 222);
    opacity: 0.8;
    cursor: pointer;
}

.wrapper .select .sLang {
    background: skyblue;
    margin: 0 20px;
    font-size: 25px;
    padding: 10px 15px;
    /* border-radius: 50px; */
    border: 1px solid skyblue;
    box-shadow: 6px 4px 6px rgb(36, 102, 128);
    animation: up 2s;
}

.wrapper .select .sNum {
    background: skyblue;
    margin: 0 20px;
    font-size: 25px;
    padding: 10px 15px;
    /* border-radius: 50px; */
    border: 1px solid skyblue;
    box-shadow: 6px 4px 6px rgb(36, 102, 128);
    animation: up 2s;
}


/* 게임 설명 end */










/* 메인 게임화면 css */

.final {
    width: 703px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin: 60px auto;
    display: none;
    overflow: hidden;
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    

    position: relative;
}

.wrap {
    background-image: url(img/wrap.jpg);
    width: 500px;
    height: 600px;
    border-radius: 15px;
    overflow: auto;
}

input {
    box-sizing: border-box;
    background-image: url(./img/green.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 70px;
    background-color:transparent;
    border-radius: 5px;
}

button {
    width: 500px;
    box-sizing: border-box;
}

.wrap::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}


/* 사이드 메뉴 css */
.sidebar {
    box-sizing: border-box;
    background-image: url(./img/sidebar.jpg);
    background-repeat: no-repeat;
    width: 199px;
    height: 602px;
    
    border-radius: 5px;

    padding: 40px 0;

}

.correct {
    box-sizing: border-box;
    width: 199px;
    height: 200px;
    /* border: 1px solid red; */
}

.incorrect {
    box-sizing: border-box;
    width: 199px;
    height: 200px;
    /* border: 1px solid red; */
}

.hint {
    box-sizing: border-box;
    width: 199px;
    height: 100px;
    /* border: 1px solid red; */
}

.greenbox{

    animation: jittery 4s ;

}
@keyframes jittery {
    5%,
    50% {
      transform: scale(1);
    }
  
    10% {
      transform: scale(0.9);
    }
  
    15% {
      transform: scale(1.15);
    }
  
    20% {
      transform: scale(1.15) rotate(-5deg);
    }
  
    25% {
      transform: scale(1.15) rotate(5deg);
    }
  
    30% {
      transform: scale(1.15) rotate(-3deg);
    }
  
    35% {
      transform: scale(1.15) rotate(2deg);
    }
  
    40% {
      transform: scale(1.15) rotate(0);
    }
  }
  


/* 상태창 css */
.status {
    width: 200px;
    height: 200px;
    /* border: 1px solid red; */
    box-sizing: border-box;
    border-radius: 5px;
    background-image: url(./img/option.jpg);

    
}

/* keycoard css */

.keyboard {
    background-image: url(./img/keyboard.jpg);
    box-sizing: border-box;
    width: 503px;
    height: 198px;
   
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
}

.keyboardBox {
    box-sizing: border-box;
    width: 46px;
    height: 50px;
    font-size: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 45px;
    border-radius: 10px;
    margin-top: 6px;
}

.green {
    background: green;
    border-radius: 10px;
    
    animation: vibration .3s infinite;
  

}

@keyframes vibration {
    from {
        transform: rotate(5deg);
    }

    to {
        transform: rotate(-8deg);
    }
}



.yellow {
    background: yellow;
    animation: vibration .3s infinite;

}



.lightgrey {
    background: lightgrey;
    animation: vibration .3s infinite;

}

.v-title,
.d-title {
    box-sizing: border-box;
    /* border: 1px solid blue; */
    width: 100%;
    height: 35px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    color: white;

    border-bottom: 1px solid black;

}

.wordpad {
    box-sizing: border-box;
    /* border: 1px solid green; */
    width: 100%;
    height: 160px;
    overflow: scroll;
}

/* hint css */

.h-title {
    box-sizing: border-box;
    /* border: 1px solid blue; */
    width: 100%;
    height: 25px;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    color: white;

}

.btn-hint {
    width: 100px;
    margin-left: 50px;
    border-radius: 10px;
    margin-top: 12px;
}

.hide {
    display: none;
}

.hint-text {
    color: white;
    text-align: center;
    margin-top: 18px;
}

.h-wordpad {
    box-sizing: border-box;
    /* border: 1px solid green; */
    width: 100%;
    height: 75px;
    overflow: scroll;
}

.h-wordpad::-webkit-scrollbar {
    display: none;
}

.wordpad::-webkit-scrollbar {
    display: none;
}

/* 사이드 성공 실패 */
.sword {
    width: 100%;
    font-size: 15px;
    /* border: 1px solid red; */
    color: white;
    text-align: center;
    margin-top: 5px;
}

.dword {

    width: 100%;
    font-size: 15px;
    /* border: 1px solid red; */
    color: white;
    text-align: center;
    margin-top: 5px;

}

/*  */

/* 상태창 css */

.tool {
    
    background-repeat: no-repeat;
    width: 80%;
    height: 20%;
    margin: 3% auto 0;
    border: 1px solid white;
    text-align: center;
    border-radius: 20px;
    color: greenyellow;
    background: rgba(0, 0, 0, 0.7);

    line-height: 126%;
}

.tool:hover {
    border: 3px solid white;
    font-weight: bold;

}

.tool:last-child:hover {
    cursor: pointer;

}

.btn-lang {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border: 1px solid;
    border-radius: 50%;
    background: greenyellow;
}

